html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Add spacing between the last input and the button in forms */
form .form-group:last-of-type,
form .mb-3:last-of-type,
form .input-group:last-of-type {
    margin-bottom: 1.25rem; /* Adjust as needed */
}

.btn-bold-white,
.btn-bold-white:visited,
.btn-bold-white:active,
.btn-bold-white:focus,
.btn-bold-white:hover {
    color: #fff !important;
    font-weight: bold !important;
    text-decoration: none;
}

